body{
    margin: 0;
    background-image: url(/Proyecto-Tic-Tac-Toe/src/img/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

#inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

#titulo {
    font-size: 45px;
    font-weight: bolder;
    font-family: cursive;
}

.links {
    display: flex;
    gap: 20px;
}

.linksEstilos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
    color: black;
    background-color: white;
    height: 40px;
    width: 130px;
    border: 3px solid black;
    border-radius: 10px;
}

#contador{
    display: flex;
    justify-content: space-between;
}

.contadorEstilos {
    background-color: white;
    border: 3px solid black;
    border-radius: 7px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}

.conta {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

#sesion{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#usuario {
    font-family: cursive;
    font-weight: bolder;
    font-size: 25px;
}

#cerrarSesion {
    border: 3px solid black;
    border-radius: 7px;
    background-color: white;
    font-family: cursive;
    font-weight: bolder;
}

#reloj {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 30px;
}